<div *ngIf="token != null || token != undefined">

    <h1 class="texto-Principal">Editar Categoria</h1>

    <div class="row">
        <div class="col-sm-5">
            <button type="button" class="btn btn-success raise"  data-toggle="modal" data-target="#CategoriaModal">
                <i class="fas fa-project-diagram"></i> Crear Categoria
            </button>   
        </div>
        <div class="col-sm-7">
            <div class="demo">
                <form class="form-search">
                  <div class="input-group">
                    <input class="form-control form-text" maxlength="128"  [(ngModel)]="searchs"  name="searchs" type="search" placeholder="Search" aria-label="Search"  placeholder="Buscar Usuario" size="15" type="text" />
                    <span class="input-group-btn"><button class="btn btn-dark"><i class="fa fa-search fa-lg">&nbsp;</i></button></span>
                  </div>
                </form>
            </div>
        </div>
    </div>


    <!-- New Modal-->
    <div class="modal fade" id="CategoriaModal" tabindex="-1" role="dialog" aria-labelledby="CategoriaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="CategoriaModalLabel">Nueva Categoria</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
    
                    <form  #saveCategoria="ngForm">
                        <div class="mb-3 text-color">
                            <label for="nameinput" class="form-label">Nombre Categoria</label>
                            <input  [(ngModel)]="categorySelect.nameCategory" #nameCategory="ngModel" name="nameCategory" type="text" class="form-control" id="nameinput"  placeholder="Nombre Categoria" required>
                        </div>
                        <div class="mb-3 text-color">
                            <label for="Descriptioninput" class="form-label"> Descripción</label>
                            <textarea [(ngModel)]="categorySelect.description" #description="ngModel" name="description" type="text" class="form-control" id="Descriptioninput"  placeholder="Descripción" cols="10" rows="5"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger " data-dismiss="modal" (click)="saveCategory()" [disabled]="!saveCategoria.form.valid">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Categorias -->
    <div>
        <div class="card" style="width: 18rem;" *ngFor="let category of categorys | searchs:searchs">
            <img src="../../../../assets/img/Icon.png" class="card-img-top" alt="product">
            <div class="card-body  text-center">
                <a (click)="saveCategoryLocal(category)"  routerLink="/product" class="btn btn-color"><h5 class="card-titler">{{category.nameCategory}}</h5></a>

                <div class="row" >
                    <div class="col"  data-toggle="modal" data-target="#actualizarModal" (click)="obtenerData(category)">
                        <a ><i class="far fa-edit raise" ></i></a>
                    </div>
                    <div class="col" data-toggle="modal" data-target="#eliminarModal" (click)="obtenerData(category)">
                        <a><i class="far fa-trash-alt raise text-danger " ></i></a>
                    </div>
                </div>   

            </div>
        </div>
    </div>


    <!--Eliminar-->
    <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModallLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="eliminarModallLabel">Peligro!</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4 class="text-center text-uppercase">{{categorySelect.nameCategory}}</h4>
                <span class="text-center">Estas Seguro De Eliminar Categoria</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeCategory()">Eliminar</button>
            </div>
            </div>
        </div>
    </div>

    <!--Actualizar-->
    <div class="modal fade" id="actualizarModal" tabindex="-1" aria-labelledby="actualizarModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="actualizarModalLabel">Actualizar</h4>
                <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
    
                    <h2 class="text-uppercase">{{categorySelect .nameCategory}}</h2>
                    <form class="form-signin" #category="ngForm">
                        <div class="mb-3 text-color">
                            <label for="nameinput" class="form-label">Nombre Categoria</label>
                            <input  [(ngModel)]="categorySelect.nameCategory" #nameCategory="ngModel" name="nameCategory" type="text" class="form-control" id="nameinput"  placeholder="Nombre Categoria" required>
                        </div>
                        <div class="mb-3 text-color">
                            <label for="Descriptioninput" class="form-label">Descripción</label>
                            <textarea [(ngModel)]="categorySelect.description" #description="ngModel" name="description" type="text" class="form-control" id="Descriptioninput"  placeholder="Descripción" cols="10" rows="5"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger " data-dismiss="modal" (click)="updateCategory()" [disabled]="!category.form.valid">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
