.navbar-collapse {
  flex-grow: 0;
  font-size: 1rem;
}

.navbar-brand{
  font-family: 'Merienda One', cursive;
  font-size: 5vh;
}
.img{

  width: 10vh;
  height: 10vh;
  display: inline-block;
  background-position: 50%;
  background-size: cover;
}
.text-footer{
  padding: 1rem;
  align-items: center;
  color: aliceblue;

}

.text-center{
  display:block;
  text-align: right;
}

p{
  text-align: right;
}

footer{
  align-items: center;
}

.icon-footer{
  text-align: center;
}

h2 i{
  display: inline-block;
  width: 5rem;
  font-size: 2.5rem;
}
