<nav class="main-menu">

    <ul>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActivate="active">
                <i class="fas fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        
        <li class="has-subnav">
            <a class="nav-link" aria-current="page" routerLink="/register" routerLinkActivate="active">
                <i class="fas fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Registrarse  
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActivate="active">
                <i class="fas fa-user fa-2x"></i>
                <span class="nav-text">
                    Login
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActivate="active">
                <i class="fas fa-shopping-cart fa-2x"></i>
                <span class="nav-text">
                    Productos
                </span>
            </a>
            
        </li>

        <li class="has-subnav">
            <a class="nav-link" aria-current="page" routerLink="/" routerLinkActivate="active">
                <i class="fas fa-address-card fa-2x"></i>         
                <span class="nav-text">
                    Nosotros
                </span>
            </a>
            
        </li>

    </ul>

    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fas fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Cerrar sesión
                </span>
            </a>
        </li>  
    </ul>
</nav>