<nav class="main-menu">
    <ul>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActivate="active">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        </li>
        
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-laptop fa-2x"></i>
                <span class="nav-text">
                    Registrarse  
                </span>
            </a>
            
        </li>
        <li class="has-subnav">
            <a href="#">
                <i class="fa fa-user fa-2x"></i>
                <span class="nav-text">
                    Login
                </span>
            </a>
            
        </li>

    </ul>

    <ul class="logout">
        <li>
           <a href="#">
                 <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Cerrar sesión
                </span>
            </a>
        </li>  
    </ul>
</nav>