<nav class="navbar navbar-expand-lg  navbar-dark bg-dark" >
    <div class="container-fluid">
      <a class="navbar-brand " href="#"><img src="../../../assets/img/Icon.png " alt="Icon" class=" alineadoTextoImagenCentro img"> Hunter Shop</a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active"><i class="fas fa-home"></i> Inicio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" *ngIf="token == null" aria-current="page" routerLink="/register" routerLinkActive="active"><i class="fas fa-address-book"></i> Registrarse</a>
          </li>

          <li class="nav-item">
            <a class="nav-link"  *ngIf="token == null"  routerLink="/login" routerLinkActive="active"><i class="fas fa-user-alt"></i> Iniciar sesión</a>
          </li>

          <li class="nav-item" *ngIf="token != null || token != undefined ">
            <a class="nav-link" *ngIf="user.role == 'ROLE_ADMIN'" routerLink="/category" routerLinkActive="active"><i class="fas fa-boxes"></i> Categoría</a>
          </li>
          
          <li class="nav-item"*ngIf="token != null || token != undefined" >
            <a class="nav-link" *ngIf="user.role == 'ROLE_ADMIN'"   routerLink="/product" routerLinkActive="active"><i class="fas fa-box"></i> Product</a>
          </li>
    
          <!-- Logeado-->
          <li class="nav-item dropdown"  *ngIf="token != null || token != undefined">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Más
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/editUser"><i class="fas fa-user-edit"></i> Editar Cuenta</a></li>
              <li *ngIf="user.role == 'ROLE_ADMIN'"><a class="dropdown-item" routerLink="/saveUserAdmin"><i class="fas fa-user-plus"></i> Guardar Usuario</a></li>
              <li *ngIf="user.role == 'ROLE_ADMIN'"><a class="dropdown-item" routerLink="/listUsers"><i class="fas fa-clipboard-list"></i> Lista de Usuario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"  routerLink="/cart" ><i class="fas fa-shopping-cart"></i> Carrito</a></li>
              <li><a class="dropdown-item" (click)="logOut()"><i class="fas fa-power-off"></i> Cerrar sesión</a></li>
            </ul>
          </li>
          
          <div >
            <a class="text-color nav-link" routerLink="/editUser" *ngIf="token != null || token != undefined"><span>{{user.username}}
              <img *ngIf="user.image != null || user.image != undefined" class=" img" src="{{uri+'getImage/'+ user.image}}" />
              <img *ngIf="user.image == null " class="rounded-circle img" src="../../../assets/img/editUserDefault.png" />
            </span>
            </a>
          </div>
          
        </ul>

        <!-- 
            <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
            </form> 
        -->

      </div>
    </div>

</nav>


<!--Footer-->
<footer class="fixed-bottom  navbar-dark bg-dark">
  <div class="container-fluid text-footer row">
    <div class="col">
      <a class="navbar-brand" href="/">Hunter Shop</a>
    </div>
    <div class="col">
      <h2 class="icon-footer"><i class="fab fa-facebook"></i><i class="fas fa-envelope"></i><i class="fab fa-invision"></i></h2>
    </div>   
    <div class="col">
      <p>Copyright © 2021 Hunter Shop todos los derechos reservados.</p>
    </div>   
  </div>

</footer>

