<div id="container">	

    <div class="product-image">
        <img src="../../../assets/img/register.png"  class="img" alt="">
        
    </div>

    <div class="product-details">
            
        <h1 class="text-color">Registrarse</h1><br>
        <form class="form-signin text-color " >
   
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="inputName">Nombre</label>
                        <input name="name" class="form-control" id="inputName" type="text" placeholder="Nombre" required>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="inputlastname">Apellido</label>
                        <input  name="lastname" class="form-control" type="text" id="inputlastname" placeholder="Apellido" >
                    </div>   
                    
                </div>        
            </div>
    
            <div class="row">
                <div class="form-group col">
                    <label for="inputUsername">Usuario</label>
                    <input name="username" class="form-control" type="text" id="inputUsername" placeholder="Usuario" required>         
                </div>
                <div class="from-group col">
                    <label for="inputPassword">Contraseña</label>
                    <input name="password" class="form-control" type="password" id="inputPassword" placeholder="Contraseña" required>
                </div>
            </div>

            <div class="row">

                <div class="form-group col">
                    <label for="inputphone">Teléfono</label>
                    <input name="phone" class="form-control" type="text" id="inputphone" placeholder="Teléfono" >
                </div>  

                <div class=" col form-group">
                    <label for="inputEmail">Email</label>
                    <input name="email" class="form-control" type="email" id="inputEmail" placeholder="Email" required>         
                </div>
            </div>

           
            <button type="submit" class="btn btn-primary" >Aceptar</button>
        </form>

        <h2><i class="far fa-copyright"></i> 2021</h2>
                
    </div>

    
</div>