<div class="rounded container border text-center">
    <h1 class="texto-Principal">Comprar Producto</h1>
    <img src="../../../../assets/img/Icon.png" class="" alt="product">

    <div class="product-body">
        <h2 class="">Comprar Producto</h2>
        <div class="row text-left">
            <div class="col">
                <h3>Precio:</h3>
                <h3>Tamaño:</h3>
                <h3>Maraca:</h3>
                <h3>Categoria:</h3>
            </div>
            <div class="col col-right">
                <h3>Cantidad</h3>
                <h3>Agregar al Carrito</h3>
                <h3>Comprar</h3>
            </div>
        </div>
    </div>
</div>