<div class="rounded container border">
    <h1 class="texto-Principal">Bienvenidos</h1>

    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/Icon.png" class="card-img-top" alt="product">
        <div class="card-body  text-center">
            <a routerLink="/product-details" class="btn btn-color"><h5 class="card-titler">Producto</h5></a>
            <div class="row">
                <div class="col">
                    <a  data-toggle="modal" data-target="#actualizarModal"><i class="far fa-edit raise" ></i></a>
                </div>
                <div class="col">
                    <a  data-toggle="modal" data-target="#eliminarModal"><i class="far fa-trash-alt raise text-danger " ></i></a>
                </div>
            </div>   
        </div>
    </div>

</div>
